
* {
  background-color: rgba(254, 250, 100, 1);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 4rem;
}

body {
  color: #000;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar {
  background-color: pink;
}

.navbar_menu {
  background-color: #000;
}
