
/*
 @import 'box-sizing';
 /* @import 'navbar'; */
 /* @import 'content'; */
 /* @import 'blog'; */
 /* @import 'reset'; */
 /* @import 'layout'; */

* {
  background-color: rgba(200, 250, 100, 1);
}

.navbar {
  background-color: pink;
}

.navbar_menu {
  color: #000;
}
