<!DOCTYPE html>
<html lang="en-US">
  <head>
    <link rel="stylesheet" type="text/css" href="./app/styles/app.css">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chris McNeese</title>
  </head>
  <body>
    <div class="navbar">
      <li>
        <p>Test</p>
        <p>Test</p>
        <p>Test</p>
      </li>
    </div>
    <div class="container">

      <p>Hello World</p>

    </div>
  </body>
</html>
{{outlet}}
